<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>classNames</key>
	<dict>
		<key>gameoflifeTests</key>
		<dict>
			<key>testPerformance()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.00032528</real>
					<key>baselineIntegrationDisplayName</key>
					<string>23 Jun 2016 11:55:47</string>
				</dict>
			</dict>
			<key>testPerformanceAlive()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.022422</real>
					<key>baselineIntegrationDisplayName</key>
					<string>23 Jun 2016 11:55:47</string>
				</dict>
			</dict>
			<key>testPerformanceAlive_200_200()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.10827</real>
					<key>baselineIntegrationDisplayName</key>
					<string>23 Jun 2016 11:55:47</string>
				</dict>
			</dict>
			<key>testPerformanceAlive_82_147()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.035347</real>
					<key>baselineIntegrationDisplayName</key>
					<string>23 Jun 2016 11:55:47</string>
				</dict>
			</dict>
			<key>testPerformance_200_200()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.00024525</real>
					<key>baselineIntegrationDisplayName</key>
					<string>23 Jun 2016 11:55:47</string>
				</dict>
			</dict>
			<key>testPerformance_82_147()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0003524</real>
					<key>baselineIntegrationDisplayName</key>
					<string>23 Jun 2016 11:55:47</string>
				</dict>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
